<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    public/    [L]
    RewriteRule    ^(.*)\.[\d]{10}\.(css|js)$ public/$1.$2 [L]
    RewriteRule    (.*)  public/$1    [L]
    
</IfModule>

# ALLOW USER BY IP
<Limit GET POST>
 order deny,allow
 allow from all
# deny from all
# allow from 146.189
</Limit>

# PREVENT VIEWING OF .HTACCESS
<Files .htaccess>
 order allow,deny
 deny from all
</Files>