# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  - 7.2.3

env:
  - mysql

services:
  - mysql
  
addons:
  ssh_known_hosts:
  - localhost
  - localhost/dolphinnext
  - localhost:80/dolphinnext
  - localhost:8080/dolphinnext
  - 127.0.0.1
  - 127.0.0.1:80/dolphinnext
  - 127.0.0.1:8080/dolphinnext

before_install:
  - sudo apt-get update
  - sudo apt-get -y install aptitude
  - sudo apt-get -y install apache2 php-pear curl lynx-cur libreadline-dev libsqlite3-dev libbz2-dev libssl-dev python python-dev libmysqlclient-dev python-pip git expect default-jre libxml2-dev software-properties-common gdebi-core wget tree vim libv8-dev subversion g++ gcc gfortran zlib1g-dev libx11-dev xorg-dev libbz2-dev liblzma-dev libpcre3-dev libcurl4-openssl-dev
  - sudo apt-get -y install python-software-properties
  - sudo apt-get update
  - git clone https://github.com/UMMS-Biocore/dolphinnext.git /home/travis/build/dolphinnext
  - sudo chown -R ${APACHE_RUN_USER}:${APACHE_RUN_GROUP} /var/www
  - sudo cat /etc/apache2/envvars
  - sudo cat /etc/apache2/ports.conf
  

before_script:
  - sudo service apache2 restart
  - sudo mysql -e "CREATE DATABASE biocorepipe;" -uroot
  - cd db
  - sudo mysql -u root biocorepipe < db_structure.sql
  - sudo ./runUpdate biocorepipe
  - cd ..
  - ls /home/travis/build/dolphinnext
  - ls /home/travis/build/onuryukselen/dolphinnext
  - sudo wget -d -O a.txt "http://localhost"
  - sudo wget -d -O b.txt "http://localhost/dolphinnext"
  - sudo wget -d -O c.txt "http://localhost/dolphinnext/api/service.php"  
  - sudo cat a.txt
  - sudo cat b.txt
  - sudo cat c.txt

#  - sudo mysql -e "use biocore; INSERT INTO amazon_credentials ( aws_access_key_id, aws_secret_access_key, bucket ) VALUES ( 'test_access', 'test_secret', 'test_bucket' );" -uroot
#  - sudo mkdir -p /home/travis/build/pub /home/travis/build/logs tmp/files tmp/logs tmp/logs/run4 tmp/logs/run5 tmp/logs/run6 tmp/logs/run7 tmp/logs/run8
#127.0.0.1
  - printf "[Dolphinnext]\nDB=biocorepipe\nDBUSER=root\nDBPASS=\nDBHOST=localhost\nDBPORT=3306\nSSHPATH=/export/.dolphinnext/.ssh\nAMAZON=z176eG0i8gh4fake\nAMZPATH=/export/.dolphinnext/.amz\n[CONFIG]\nTIMEZONE=America/New_York\nRUNPATH=tmp/logs\nAPI_PATH=http://localhost/dolphinnext" > config/.sec

script:
  #	ajax
  - phpunit unitTesting/ajax/ajaxquery_unittesting.php

after_script:
  - mysql -e "show databases;" -uroot
  - mysql -e "use biocorepipe; show tables;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM biocorepipe_save;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM parameter;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM process;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM process_group;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM pipeline_group;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM process_parameter;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM project;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM users;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM user_group;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM groups;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM input;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM project_input;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM project_pipeline;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM project_pipeline_input;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM profile_cluster;" -uroot
  - mysql -e "use biocorepipe; SELECT * FROM profile_amazon;" -uroot
